<div class="p-4 items-center justify-center w-[580px] rounded-xl group sm:flex space-x-6 bg-black mb-4 bg-opacity-10 shadow-xl hover:rounded-2xl">
    <img class="mx-auto w-full block w-40 h-40 rounded-lg" loading="lazy"
         src='{{ cryptoCurrency.logo }}'/>
    <div class="sm:w-8/12 pl-0 p-5">
        <div class="space-y-2">
            <div class="space-y-4">
                <h4 class="text-md text-xl font-semibold text-cyan-900 text-justify ">
                    {{ cryptoCurrency.name }} ({{ cryptoCurrency.symbol }})
                    <p class="text-md text-xl font-bold text-green-700 ">
                        {{ cryptoCurrency.price | number_format(2, '.', ',') }} €
                    </p>
                    <div class="text-grey-500 flex flex-row my-1">
                        <p class="text-xs">Last update: {{ cryptoCurrency.lastUpdate | date('d-m-Y') }}</p>
                    </div>
                </h4>
            </div>
            <div class="flex items-center space-x-4 justify-between">
                <div class="space-y-1">
                    <span class="text-sm font-semibold text-cyan-900">Rank: {{ cryptoCurrency.rank }}</span>
                    <br>
                    <span class="text-sm font-semibold text-cyan-900">Total volume: {{ cryptoCurrency.totalVolume | round | number_format(0, '.', ',') ~ ' €' }}</span>
                    <br>
                    <span class="text-sm font-semibold text-cyan-900">Volume change 24h: {% if cryptoCurrency.volumeChange < 0 %}
                    <span style="color: red;">{{ cryptoCurrency.volumeChange | number_format(2, '.', ',') ~ '%' }}</span>
                {% else %}
                    <span style="color: green;">{{ cryptoCurrency.volumeChange | number_format(2, '.', ',') ~ '%' }}</span>
                        {% endif %}</p></span>
                    <br>
                </div>
            </div>
            <div class="flex items-center space-x-2 justify-between">
                <span class="text-sm font-semibold text-cyan-900">You own: {{ userInventory.values[mySymbol]|default(0) }}</span>
                <div class="flex flex-row space-x-1">
                    <div class="bg-red-500 shadow-lg shadow- shadow-red-600 text-white cursor-pointer px-3 py-1 text-center justify-center items-center rounded-xl flex space-x-2 flex-row">
                        <form method="POST" action="/sell">
                            <input type="hidden" name="price" value="{{ cryptoCurrency.price }}"/>
                            <input type="hidden" name="symbol" value="{{ cryptoCurrency.symbol }}"/>
                            <button type="submit">Sell</button>
                        </form>
                    </div>
                    <div class="bg-green-500 shadow-lg shadow- shadow-green-600 text-white cursor-pointer px-3 text-center justify-center items-center py-1 rounded-xl flex space-x-2 flex-row">
                        <form method="POST" action="/buy">
                            <input type="hidden" name="price" value="{{ cryptoCurrency.price }}"/>
                            <input type="hidden" name="symbol" value="{{ cryptoCurrency.symbol }}"/>
                            <button type="submit">Buy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>